:host {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-radius);
    background-color: #fff;
    border: 1px solid rgb(158, 158, 158);
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
}

.card-header {
    height: 15px;   
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.card-body {
    flex-grow: 1;
}

.card-footer {
    height: 20px;
}

.red {
    color: red;
}

img {
    width: 15px;
    height: 15px;
}

.back {
    background-image: url('/assets/back.svg');
    height: 100%;
    border-radius: var(--card-radius);
}