:host {
    --card-border-color: rgb(158, 158, 158);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-radius);
    background-color: #fff;
    user-select: none;
    border: var(--border-width) solid #eee;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: calc(var(--card-height) * .1);
}

.card-content {
    padding: calc(var(--card-height) * .04);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-header {
    height: calc(var(--card-height) * .10);   
    width: calc(var(--card-height) * .10);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.card-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(var(--card-height) * .20);
}

.card-footer {
    height: calc(var(--card-height) * .10); 
}

.card-body img {
    width: calc(var(--card-width) * .2);
    height: calc(var(--card-width) * .2);
}

.red {
    color: red;
}

.card-header img  {
    width: calc(var(--card-height) * .08);
    height: calc(var(--card-height) * .08);
}

.back {
    background-image: url('/assets/back.svg');
    background-size: 20%;
    height: 100%;
    border-radius: var(--card-radius);
    margin: calc(var(--card-height) * .05);
    border: 1px solid var(--card-border-color);
}

.selected {
    border: 2px solid rgb(0, 91, 219);
    border-radius: var(--card-radius);
    margin: -2px;
}