<div class="playmat">
  <div class="playmat-header">
    <ng-container *ngFor="let cards of gameService.state.headerColumnCards; let i = index">
      <div class="column clickable" (click)="gameService.moveSelectedCardToHeaderColumn(i)">
        <app-card-place></app-card-place>
        <ng-container *ngFor="let card of cards">
          <app-card [card]="card" [selectable]="true"></app-card>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="playmat-body">
    <ng-container *ngFor="let cards of gameService.state.columnCards; let i = index">
      <div class="column clickable" (click)="gameService.moveSelectedCardToColumn(i)">
        <app-card-place></app-card-place>
        <ng-container *ngFor="let card of cards">
          <app-card [card]="card" [selectable]="true"></app-card>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="playmat-footer">
    <div class="actions-column">
      <div class="action" (click)="startNewGame()">
        <fa-icon [icon]="faPlus"></fa-icon> Nouvelle partie
      </div>
      <div class="action" (click)="undo()">
        <fa-icon [icon]="faUndo"></fa-icon> Annuler
      </div>
      <div class="fill-space">
      </div>
      <div class="action end" (click)="gameService.dealCards()">
        <fa-icon [icon]="faSquareCaretUp"></fa-icon> Distribuer

        <div><small>{{ 13 - (gameService.state.draw.length / 8) | number: '1.0-0' }} sur 13</small></div>
      </div>
    </div>
  </div>
</div>