/* Entire playmat */
.playmat {
  background-color: forestgreen;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  /* We add one card space at the left and right */
  padding: 0 calc(var(--card-space));
}

.playmat-header {
  display: flex;
  align-items: flex-end;

  /* We display only 15% of the cards in the header */
  height: calc(var(--card-height) * .15);
}

.playmat-header .column {
  overflow: hidden;
}

.playmat-header .column>app-card {
  animation-name: rotateup;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  transform: rotate(180deg);

  /* In order to stack cards in the header, we substract the height of the card for the margin */
  margin-top: calc(var(--card-height) * -1);
}

.playmat-body {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;

  /* We recover the 95% of the cards */
  margin-top: calc(var(--card-height) * .05);
}

.playmat-body.column {
  margin: var(--card-space);
}

.playmat-footer {
  display: flex;
  height: calc(var(--card-height) * .5);
  padding: calc(var(--card-space));
}

.column {
  margin-top: var(--card-space);
  margin-left: var(--card-space);
  margin-right: var(--card-space);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.playmat-body .column>app-card-place,
.playmat-footer .column>app-card-place 
{
  margin-bottom: calc(var(--card-height) * -1);
}

.playmat-body .column>app-card {
  margin-bottom: calc(var(--card-height) * -1 + var(--card-height) * .15);
  animation-name: slideup;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}

@keyframes slideup {
  from {transform: translate(0px, 50px);}
  to {transform: translate(0px, 0px);}
}

@keyframes rotateup {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.playmat-footer .column>app-card {
  margin-bottom:  calc(var(--card-height) * -1 - 0.8px);
}

.actions-column {
  flex-grow: 1;
  align-self: flex-end;
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.action {
  color: rgb(255, 255, 255);
  border: var(--border-width) solid var(--fore-color);
  border-radius: var(--card-radius);
  padding: calc(var(--card-height) * .10);
  cursor: pointer;
  font-size: calc(var(--card-height) * .10);
}

.action:hover {
  background-color: var(--fore-color);
}

.action:active {
  color: rgb(255, 255, 255, 1);
}

.clickable {
  cursor: pointer;
}

.fill-space {
  flex-grow: 1;
}