<div class="playmat">
  <div class="playmat-header">
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
  </div>
  <div class="playmat-body">
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
    </div>
  </div>
  <div class="playmat-footer">
    <div class="actions-column">
      <div class="action" (click)="gameService.startGame()">
        <fa-icon [icon]="faPlus"></fa-icon> Nouvelle partie
      </div>
      <div class="action">
        <fa-icon [icon]="faUndo"></fa-icon> Annuler
      </div>
    </div>
    <div class="column">
      <app-card-place></app-card-place>
      <ng-container *ngFor="let card of gameService.revealed">
        <app-card [card]="card"></app-card>
      </ng-container>
    </div>
    <div class="column" (click)="gameService.revealCard()">
      <app-card-place></app-card-place>
      <ng-container *ngFor="let card of gameService.draw">
        <app-card [card]="card"></app-card>
      </ng-container>
    </div>
  </div>
</div>
