.placeholder {
  border: var(--border-width) solid var(--fore-color);
  background-color: var(--fore-color);
  border-radius: var(--card-radius);
  width: calc(var(--card-width));
  height: calc(var(--card-height) - 2 * var(--border-width));
}
